<html>
<head>
    <title>Martyrs</title>
</head>

<body>

<section>
{% if res_list %}
    <ul>
    {% for profile in res_list %}
        <form action="{% url 'delete' %}" method="post">
            {% csrf_token %}
            <li><a href="{{ profile.id }}">{{ profile.name }}</a>
                <!--<li>{{profile.name}}</li>-->
                <br/>
                Date of Birth : {{ profile.date_of_birth }}
                <br/>
                Date Of Death : {{ profile.date_of_death }}
                <br/>
                Cause Of Death : {{ profile.cause_of_death }}
                <br/>
                Officer Name : {{ profile.officer_name }}
                <br/>
                Governorate : {{ profile.governorate }}
                <br/>
                <input type="hidden" value="{{profile.id}}" id="{{profile.id}}">
                <button type="submit" name="submitButton" value="Delete" >Delete</button>
                <br/>
            </li>
        </form>
    {% endfor %}
    </ul>
{% else %}
    <p>No Profiles available.</p>
{% endif %}
</section>
<br/><br/>
<section>
    <h1>Add New Case</h1>
    <section>
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            Name: <input type="text" name="name" required>
            <br/>
            Date of Birth: <input type="text" name="date_of_birth"> -- It must be in YYYY-MM-DD
            <br/>
            Date of Death: <input type="text" name="date_of_death"> -- It must be in YYYY-MM-DD
            <br/>
            Cause of Birth: <input type="text" name="cause_of_death">
            <br/>
            Officer Name: <input type="text" name="officer_name">
            <br/>
            Governorate: <input type="text" name="governorate">
            <br/>
            <input type="submit" value="Add">
        </form>
    </section>
</section>

</body>
</html>